/* COLORS */
$primary-green :  #0F2A2B;
$primary-blue:    #15202B;
$secondary-gray:  #456268;
$secondary-green: #05F06D;
$white-theme:     #EEF4F1;

$white: #fff;
$black: #000;

$white-light: rgba($color: $white, $alpha: 20%);

/* FONTS */

// Font used for Menu
@font-face {
  font-family: SixCaps;
  src:  url('/assets/fonts/SixCaps.ttf'), local('Helvetica Neue');
  font-display: swap;
}

// Font used for titles
@font-face {
  font-family: Amagro;
  src:  url('/assets/fonts/Amagro.ttf'), local('Georgia'), local('Times New Roman');
  font-display: swap;
}


// FONTS MONCERRAT for Body
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Thin.woff2") format("woff2"), local('Tahoma');
  font-display: swap;
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2"), local('Tahoma');
  font-display: swap;
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2"), local('Tahoma');
  font-display: swap;
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2"), local('Tahoma');
  font-display: swap;
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("/assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), local('Tahoma');
  font-display: swap;
}

/* VARIABLES */
$font-amagro : 'Amagro', sans-serif;
$font-montserrat : 'Montserrat', sans-serif;;
$font-sixcaps : 'SixCaps', sans-serif;
