section, footer {
  scroll-margin-top: 70px;
  @media screen and (max-width: 992px) {
    scroll-margin-top: 0px;
  }
}

.section-hero, .section-about-me {
  min-height: calc( 100vh - 70px);
  margin-right: 2px;
}