<div class="grid">
  <div class="col col-12">
    <div class="container-title">
      <span class="title-primary">{{ titleShow }}</span>
    </div>
    <div class="container-perfil">
      <img src="/assets/img/test-user.webp" loading="lazy" class="user-image" width="auto" height="auto" alt="Fernando Jaramillo">
      <div class="content-info">
        <h1 class="title-content">FERNANDO JARAMILLO <br><span> FRONTEND DEVELOPER </span> </h1>
      </div>
    </div>
    <div class="container-border">
      <div class="separator"></div>
    </div>
  </div>
</div>
