@import "/src/styles/vars"; 

.container-title {
  margin-top: 2em;
  width: 100%;
  position: relative;
  transition: transform .3s ease-in-out;
  .title-primary {
    font-size: 35vw;
    line-height: 96%;
    text-align: center;
    font-family: $font-sixcaps;
    user-select: none;
    background-image: url('/assets/layout/textura_min_bg.svg');
    background-color: white;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    position: relative;
    transition: transform .8s ease-in-out;
    display: block;
  }
  &::before, &::after {
    content: 'PORTAFOLIO';
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba($color: $secondary-green, $alpha: .1);
    font-size: 37vw;
    line-height: 96%;
    text-align: center;
    font-family: $font-sixcaps;
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0 ;
    transition: transform .5s ease-in-out;
  }
  &::after {
    z-index: 2;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $secondary-green;
    font-size: 36vw;
    top: 48%;
  }

  &:hover {
    .title-primary {
      transform: scale(.97) translateY(-5px);
    }
    &::before {
      transform: scale(.96) translateX(-52%) translateY(-51%);
    }
    &::after {
      transform: scale(.94)  translateX(-53.2%) translateY(-53%);
    }
  }

  @media screen and (max-width:992px) {
    margin-top: 1em;
  }
}

.container-perfil {
  text-align: center;
  padding: 0;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  position: relative;
  min-height: 200px;
  @media screen and (max-width:992px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1em;
    min-height: initial;
  }
  .user-image {
    width: 100%;
    height: auto;
    max-width: 470px;
    margin: 0;
    margin-top: -15%;
    z-index: 10;
    transition: filter 1s ease-in-out, transform 2s ease-in-out;
    transform-origin: bottom center;
    user-select: none;
    filter: drop-shadow(5px 5px 5px #222);
    &:hover {
      filter: grayscale(1) drop-shadow(5px 5px 5px #222);
      transform: scale(1.05);
    }
    @media screen and (max-width:992px) {
      width: 75%;
      margin-top: -10px;
    }
  }

  .content-info {
    position: absolute;
    width: calc( 50% - 175px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 4px solid $secondary-green;
    padding: 10px 0;
    padding-left: 20px;
    z-index: 10;
    .title-content, .title-content span {
      font-size: 20px;
      line-height: 25px;
      text-align: left;
      color: $secondary-gray;
      font-family: $font-montserrat;
      transition: color .5s ease-in-out;
      &:hover {
        color: $secondary-green;
      }
      @media screen and (max-width:992px) { 
        text-align: center;
      }
    }
    @media screen and (max-width:992px) { 
      position: relative;
      border-left: none;
      width: 100%;
      top: initial;
      padding-right: 20px;
      text-align: center;
      transform: initial;
    }
  }
}

.container-border {
  position: relative;
  min-height: 30px;
  z-index: 10;
  .separator {
    position: absolute;
    width: calc( 100%);
    height: 4px;
    background-color: $secondary-green;
    margin-bottom: 30px;
    &::before, &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color:  $secondary-green;
      left: calc( 4em + 10px);
      top: -30px;
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
    &::after {
      clip-path: polygon(0 100%, 100% 100%, 100% 0);
      left: initial;
      right: calc( 4em + 10px);
    }
    @media screen and (max-width:992px) {
      &::before {
        left: calc( 1em + 10px);
      }
      &::after {
        right: calc( 1em + 10px);
      }
    }
  };
}