<header [ngClass]="{ 'scrolling': scrolled, 'header-nav': true }">
  <nav class="navbar navbar-desktop hidden lg:flex">
    <a
      *ngFor="let itemMenu of menuPrimary"
      [routerLink]="[itemMenu.routerlink]"
      routerLinkActive="active"
      [ngClass]="{ 'item-nav': true, 'is-logo': itemMenu.isItemLogo }"
      (click)="gotoSection(itemMenu.url, itemMenu.isSubPage)">
      <ng-container
        [ngTemplateOutlet]="
          itemMenu.isItemLogo ? logoItemContent : nameItemContent
        "
        [ngTemplateOutletContext]="{ item: itemMenu }">
      </ng-container>
    </a>
  </nav>
  <ng-template #logoItemContent let-link="item">
    <span>{{ link.name }}</span>
  </ng-template>
  <ng-template #nameItemContent let-link="item"> {{ link.name }} </ng-template>

  <nav class="navbar navbar-mobile flex lg:hidden" *ngIf="toogleMenu">
    <button
      [ngClass]="{ 'item-nav item-social': true, active: showSocial }"
      (click)="showSocialMedia()">
      <div [ngClass]="{ 'submneu-social': true, show: showSocial }">
        <a
          *ngFor="let itemMenu of myMenuSocialMedia"
          href="{{ itemMenu.url }}"
          class="link-item"
          title="{{ itemMenu.title }}"
          rel="no-referrer nofollow"
          target="_blank"
          [attr.data-social-name]="itemMenu.name">
          <svg-icon src="assets/img/icons/{{ itemMenu.icon }}"></svg-icon>
        </a>
      </div>
      <svg-icon
        src="assets/img/icons/user-voide.svg"
        [class]="'menu__mobile--redes'"></svg-icon>
    </button>
    <a
      [routerLink]="['/']"
      [ngClass]="{ 'item-nav is-logo': true }"
      (click)="gotoSectionMobile('/', true)"
      ><span>FJ</span></a
    >
    <button
      [ngClass]="{ 'item-nav toogle-menu': true, active: toogleMenu }"
      (click)="showMobilemenu()">
      <svg-icon
        src="assets/img/icons/{{ toogleMenu ? 'close' : 'menu-right' }}.svg"
        [class]="'menu__mobile'"></svg-icon>
    </button>
  </nav>
</header>
<div [ngClass]="{ 'submenu-mobile lg:hidden': true, 'show': toogleMenu }" *ngIf="toogleMenu">
  <nav class="navbar navbar-submenu">
    <a
      *ngFor="let itemMenu of menuPrimary"
      [routerLink]="[itemMenu.routerlink]"
      routerLinkActive="active"
      [ngClass]="{ 'item-nav': true, hidden: itemMenu.isItemLogo }"
      (click)="gotoSectionMobile(itemMenu.url, itemMenu.isSubPage)">
      {{ itemMenu.name }}
    </a>
  </nav>
</div>
