@import "/src/styles/vars"; 

.header-nav {
  margin: 0;
  padding: 0;
  position: sticky;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  background-color: transparent;
  transition: background-color .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  &.scrolling {
    background-color: $primary-green;
    box-shadow: 2px 0 5px 4px rgba($color: $black, $alpha: .2);
  }
  &:hover {
    background-color: $primary-green;
    box-shadow: 2px 0 5px 4px rgba($color: $black, $alpha: .2);
  }
  @media screen and ( max-width: 992px ) {
    height: 70px;
    position: fixed;
    top: initial;
    bottom: 0;
    left: 0;
    background-color: $primary-green;
    box-shadow: 2px 0 5px 4px rgba($color: $black, $alpha: .2);
    z-index: 200;
  }
  .navbar {
    display: inline-flex;
    .item-nav {
      color: $white;
      font-family: $font-sixcaps;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 35px;
      padding: 10px 20px;
      min-width: 130px;
      text-align: center;
      margin: 0px 15px;
      &:hover {
        color: $secondary-green;
        background-color: rgba($color: $black, $alpha: .2);
        
      }
      &.is-logo {
        min-width: initial;
        padding: 0;
        margin: 0;
        position: relative;
        width: 80px;
        height: inherit;
        &:hover {
          color: $secondary-green;
          background-color: transparent;
        }
        span {
          color: $primary-green;
          background-color: $white;
          font-style: normal;
          font-family: $font-sixcaps;
          font-weight: 400;
          font-size: 80px;
          line-height: 50px;
          padding-top: 20px;
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 95px;
          border-radius: 0px 0px 20px 20px;
          transition: .5s ease-in-out;
          &:hover {
            color: $secondary-green;
            background-color: $primary-green;
            box-shadow: 2px 2px 2px rgba($color: $black, $alpha: .3);
          }
        }
      }
    }

    &.navbar-mobile {
      .item-nav {
        margin: 0;
        padding: 8px;
        min-width: initial;
        border-radius: 50%;
        border: 2px solid transparent;
        background-color: transparent;
        cursor: pointer;
        svg {
          fill: $white;
          width: 35px;
          height: 35px;
        }
        &:hover {
          background-color: $primary-blue;
          svg {
            opacity: .7;
          }
        }
        &.item-social { 
          position: relative; 
        }
        &.active {
          border-bottom: 2px solid $secondary-green;
          background-color: $primary-blue;
          svg {
            fill: $white;
            opacity: .7;
          }
        }
        &.is-logo {
          margin: 0 2em;
          span {
            top: -30px;
            border-radius: 20px 20px 0px 0px;
            box-shadow: -2px -2px 2px rgb(0 0 0 / 20%);
          }
        }
        
      }
    }
  }
}

.submneu-social {
  position: absolute;
  display: none;
  background-color: #0f292a;
  width: calc(100% + 15px);
  height: max-content;
  bottom: calc( 100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  .link-item {
    padding: 15px 10px;
    font-size: 1.5em;
    svg {
      fill: $white;
    }
    &:hover {
      background-color: $primary-blue;
      svg {
        fill: $secondary-green !important;
        opacity: 1;
      }
    }
  }
  &.show {
    display: flex;
    box-shadow: 0px -10px 10px #ffffff2b;
  }
}

.submenu-mobile {
  position: fixed;
  width: 100%; 
  height: calc( 100% - 70px );
  background-color: $primary-blue;
  top: 0;
  left: 0;
  display: none;
  border-bottom: 4px solid $secondary-green;
  z-index: 100;
  .navbar-submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    .item-nav {
      margin: 12px 0;
      padding: 10px 25px;
      font-size: 12vw;
      line-height: 75%;
      width: max-content;
      min-width: 300px;
      color: $white;
      user-select: none; 
      font-family: $font-sixcaps;
      position: relative;
      @media screen and (min-width: 520px) and (max-width: 992px) { font-size: 8vw;  }
      &:hover {
        color: $secondary-green;
        &::before {
          content: "";
          position: absolute;
          width: 20%;
          height: 4px;
          background-color: $secondary-green;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(180%);
        }
      }
    }
  }
  &::before {
    content: 'MENU';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    opacity: 1;
    /* font */
    font-size: 40vw;
    line-height: 95%;
    font-family: $font-sixcaps;
    background: linear-gradient(180deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .2) 40%, rgba(21, 32, 43, .7)  100% ); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
    animation: animateMenu .5s linear 1;
    @media screen and (min-width: 520px) and (max-width: 992px) { font-size: 25vw;  }
  }
  &.show { display: block; }
}

@keyframes animateMenu {
  from { top: 80px; opacity: 0;}
  to { top: 20px; opacity: 1; }
}