
<div class="grid">

  <div class="col col-12 md:col-3 col-subtitle">
    <app-subtitle-section [subtitle]="currentSubtitle"></app-subtitle-section>
  </div>

  <div class="col col-12 md:col-9">
    <div class="container-cards-blog">
      <!-- Placeholder for Cards -->
      @if (!showCards) {
        <div class="show-template-cards grid">
          @for (key of [0,1]; track key) {
            <div class="col col-12 xl:col-6">
              <app-placeholder-single-card-post></app-placeholder-single-card-post>
            </div>
          }
        </div>
      }
      <!-- Content card from WP -->
      @if (showCards && blogFeaturedCards.length > 0) {
        <div class="grid">
          @for (cardPost of blogFeaturedCards; track cardPost) {
            <div class="col col-11 xl:col-6 col-card m-auto">
              <app-single-card-post [cardPost]="cardPost"></app-single-card-post>
            </div>
          }
        </div>
      }
    </div>
    <!-- button action togo Blog -->
    @if (blogFeaturedCards.length > 0) {
      <div class="container-cta">
        <app-button-action [url]="'/blog'" [target]="'_self'" [label]="'VER MÁS ENTRADAS'">
        </app-button-action>
      </div>
    }
  </div>

</div>